{
  "openapi": "3.0.1",
  "info": {
    "title": "Connected Admin API",
    "version": "1.0.0",
    "description": "The Admin API allows you to manage your Connected community programmatically."
  },
  "servers": [
    {
      "url": "https://admin-api.connected.dev",
      "description": "Production server"
    },
    {
      "url": "https://admin-api.staging.connected.dev",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/accounts/{accountId}/followers/{followerId}": {
      "post": {
        "operationId": "AddAccountFollower",
        "summary": "Add Account Follower",
        "description": "Add Account Follower endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The follower identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountFollower",
        "summary": "Remove Account Follower",
        "description": "Remove Account Follower endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The follower identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/following/{followingId}": {
      "post": {
        "operationId": "AddAccountFollowing",
        "summary": "Add Account Following",
        "description": "Add Account Following endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The following identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountFollowing",
        "summary": "Remove Account Following",
        "description": "Remove Account Following endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The following identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/groups/{groupId}": {
      "post": {
        "operationId": "AddAccountGroup",
        "summary": "Add Account Group",
        "description": "Add Account Group endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The group identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupMembership"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountGroup",
        "summary": "Remove Account Group",
        "description": "Remove Account Group endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The group identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/interests/{interestId}": {
      "post": {
        "operationId": "AddAccountInterest",
        "summary": "Add Account Interest",
        "description": "Add Account Interest endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The interest identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountInterest",
        "summary": "Remove Account Interest",
        "description": "Remove Account Interest endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The interest identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/tiers/{tierId}": {
      "post": {
        "operationId": "AddAccountTier",
        "summary": "Add Account Tier",
        "description": "Add Account Tier endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "tierId",
            "schema": {
              "type": "string"
            },
            "description": "The tier identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountTier",
        "summary": "Remove Account Tier",
        "description": "Remove Account Tier endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "tierId",
            "schema": {
              "type": "string"
            },
            "description": "The tier identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts": {
      "post": {
        "operationId": "CreateAccount",
        "summary": "Create Account",
        "description": "Create Account endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccounts",
        "summary": "Get Accounts",
        "description": "Get Accounts endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "verified",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by verified",
            "required": false
          },
          {
            "in": "query",
            "name": "online",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by online",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/addresses": {
      "post": {
        "operationId": "CreateAccountAddress",
        "summary": "Create Account Address",
        "description": "Create Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccountAddresses",
        "summary": "Get Account Addresses",
        "description": "Get Account Addresses endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/invitations": {
      "post": {
        "operationId": "CreateAccountInvitations",
        "summary": "Create Account Invitations",
        "description": "Create Account Invitations endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccountInvitations",
        "summary": "Get Account Invitations",
        "description": "Get Account Invitations endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}": {
      "delete": {
        "operationId": "DeleteAccount",
        "summary": "Delete Account",
        "description": "Delete Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "put": {
        "operationId": "UpdateAccount",
        "summary": "Update Account",
        "description": "Update Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccount",
        "summary": "Get Account",
        "description": "Get Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/addresses/{addressId}": {
      "delete": {
        "operationId": "DeleteAccountAddress",
        "summary": "Delete Account Address",
        "description": "Delete Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "put": {
        "operationId": "UpdateAccountAddress",
        "summary": "Update Account Address",
        "description": "Update Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccountAddress",
        "summary": "Get Account Address",
        "description": "Get Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountAddress"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/invitations/{email}": {
      "delete": {
        "operationId": "DeleteAccountInvitation",
        "summary": "Delete Account Invitation",
        "description": "Delete Account Invitation endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "The email identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/leads/{leadId}": {
      "delete": {
        "operationId": "DeleteAccountLead",
        "summary": "Delete Account Lead",
        "description": "Delete Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "put": {
        "operationId": "UpdateAccountLead",
        "summary": "Update Account Lead",
        "description": "Update Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      },
      "get": {
        "operationId": "GetAccountLead",
        "summary": "Get Account Lead",
        "description": "Get Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/export": {
      "post": {
        "operationId": "ExportAccount",
        "summary": "Export Account",
        "description": "Export Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/accounts/{accountId}/impersonate/{username}": {
      "post": {
        "operationId": "ImpersonateAccount",
        "summary": "Impersonate Account",
        "description": "Impersonate Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "description": "The username identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/activities/{activityId}/archive": {
      "put": {
        "operationId": "ArchiveActivity",
        "summary": "Archive Activity",
        "description": "Archive Activity endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/activities/{activityId}/schedule": {
      "delete": {
        "operationId": "CancelActivitySchedule",
        "summary": "Cancel Activity Schedule",
        "description": "Cancel Activity Schedule endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      },
      "put": {
        "operationId": "UpdateActivitySchedule",
        "summary": "Update Activity Schedule",
        "description": "Update Activity Schedule endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/{\n    date: string;\n  }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/activities": {
      "post": {
        "operationId": "CreateActivity",
        "summary": "Create Activity",
        "description": "Create Activity endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by accountId",
            "required": true
          },
          {
            "in": "query",
            "name": "activity",
            "schema": {
              "$ref": "#/components/schemas/ActivityCreateInputs"
            },
            "description": "Filter by activity",
            "required": true
          },
          {
            "in": "query",
            "name": "imageDataUri",
            "schema": {
              "type": "string"
            },
            "description": "Filter by imageDataUri",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      },
      "get": {
        "operationId": "GetActivities",
        "summary": "Get Activities",
        "description": "Get Activities endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "moderation",
            "schema": {
              "$ref": "#/components/schemas/ModerationStatus"
            },
            "description": "Filter by moderation",
            "required": false
          },
          {
            "in": "query",
            "name": "featured",
            "schema": {
              "$ref": "#/components/schemas/true"
            },
            "description": "Filter by featured",
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/ActivityStatus"
            },
            "description": "Filter by status",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activities"
        ]
      }
    },
    "/activities/{activityId}": {
      "delete": {
        "operationId": "DeleteActivity",
        "summary": "Delete Activity",
        "description": "Delete Activity endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      },
      "put": {
        "operationId": "UpdateActivity",
        "summary": "Update Activity",
        "description": "Update Activity endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      },
      "get": {
        "operationId": "GetActivity",
        "summary": "Get Activity",
        "description": "Get Activity endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activities"
        ]
      }
    },
    "/activities/{activityId}/publish": {
      "put": {
        "operationId": "PublishActivity",
        "summary": "Publish Activity",
        "description": "Publish Activity endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The activity identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/advertisements": {
      "post": {
        "operationId": "CreateAdvertisement",
        "summary": "Create Advertisement",
        "description": "Create Advertisement endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisementCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Advertisement"
        ]
      },
      "get": {
        "operationId": "GetAdvertisements",
        "summary": "Get Advertisements",
        "description": "Get Advertisements endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Advertisement"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Advertisements"
        ]
      }
    },
    "/advertisements/{advertisementId}": {
      "delete": {
        "operationId": "DeleteAdvertisement",
        "summary": "Delete Advertisement",
        "description": "Delete Advertisement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The advertisement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Advertisement"
        ]
      },
      "put": {
        "operationId": "UpdateAdvertisement",
        "summary": "Update Advertisement",
        "description": "Update Advertisement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The advertisement identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisementUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Advertisement"
        ]
      },
      "get": {
        "operationId": "GetAdvertisement",
        "summary": "Get Advertisement",
        "description": "Get Advertisement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The advertisement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Advertisements"
        ]
      }
    },
    "/announcements/{announcementId}/schedule": {
      "delete": {
        "operationId": "CancelAnnouncementSchedule",
        "summary": "Cancel Announcement Schedule",
        "description": "Cancel Announcement Schedule endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      },
      "put": {
        "operationId": "UpdateAnnouncementSchedule",
        "summary": "Update Announcement Schedule",
        "description": "Update Announcement Schedule endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/{\n    date: string;\n    email?: boolean;\n    push?: boolean;\n  }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      }
    },
    "/announcements": {
      "post": {
        "operationId": "CreateAnnouncement",
        "summary": "Create Announcement",
        "description": "Create Announcement endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnouncementCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      },
      "get": {
        "operationId": "GetAnnouncements",
        "summary": "Get Announcements",
        "description": "Get Announcements endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "filters",
            "schema": {
              "$ref": "#/components/schemas/AnnouncementFilters"
            },
            "description": "Filter by filters",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Announcement"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcements"
        ]
      }
    },
    "/announcements/{announcementId}": {
      "delete": {
        "operationId": "DeleteAnnouncement",
        "summary": "Delete Announcement",
        "description": "Delete Announcement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      },
      "put": {
        "operationId": "UpdateAnnouncement",
        "summary": "Update Announcement",
        "description": "Update Announcement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnouncementUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      },
      "get": {
        "operationId": "GetAnnouncement",
        "summary": "Get Announcement",
        "description": "Get Announcement endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcements"
        ]
      }
    },
    "/announcements/{announcementId}/preview": {
      "post": {
        "operationId": "SendAnnouncementPreview",
        "summary": "Send Announcement Preview",
        "description": "Send Announcement Preview endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The announcement identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Announcement"
        ]
      }
    },
    "/benefits": {
      "post": {
        "operationId": "CreateBenefit",
        "summary": "Create Benefit",
        "description": "Create Benefit endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenefitCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Benefit"
        ]
      },
      "get": {
        "operationId": "GetBenefits",
        "summary": "Get Benefits",
        "description": "Get Benefits endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by eventId",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Benefit"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Benefits"
        ]
      }
    },
    "/benefits/{benefitId}": {
      "delete": {
        "operationId": "DeleteBenefit",
        "summary": "Delete Benefit",
        "description": "Delete Benefit endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The benefit identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Benefit"
        ]
      },
      "put": {
        "operationId": "UpdateBenefit",
        "summary": "Update Benefit",
        "description": "Update Benefit endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The benefit identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "benefit",
            "schema": {
              "$ref": "#/components/schemas/BenefitTranslationUpdateInputs"
            },
            "description": "Filter by benefit",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Benefit"
        ]
      },
      "get": {
        "operationId": "GetBenefit",
        "summary": "Get Benefit",
        "description": "Get Benefit endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The benefit identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Benefits"
        ]
      }
    },
    "/bookings/places/{placeId}/spaces/{spaceId}/availabilities": {
      "post": {
        "operationId": "CreateBookingSpaceAvailability",
        "summary": "Create Booking Space Availability",
        "description": "Create Booking Space Availability endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "placeId",
            "schema": {
              "type": "string"
            },
            "description": "The place identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "spaceId",
            "schema": {
              "type": "string"
            },
            "description": "The space identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingSpaceAvailabilityCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bookings"
        ]
      },
      "get": {
        "operationId": "GetBookingSpaceAvailabilities",
        "summary": "Get Booking Space Availabilities",
        "description": "Get Booking Space Availabilities endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "placeId",
            "schema": {
              "type": "string"
            },
            "description": "The place identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "spaceId",
            "schema": {
              "type": "string"
            },
            "description": "The space identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bookings"
        ]
      }
    },
    "/bookings/places/{placeId}/spaces/{spaceId}/availabilities/{availabilityId}": {
      "delete": {
        "operationId": "DeleteBookingSpaceAvailability",
        "summary": "Delete Booking Space Availability",
        "description": "Delete Booking Space Availability endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "placeId",
            "schema": {
              "type": "string"
            },
            "description": "The place identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "spaceId",
            "schema": {
              "type": "string"
            },
            "description": "The space identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "availabilityId",
            "schema": {
              "type": "string"
            },
            "description": "The availability identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
[...]
