{
  "openapi": "3.0.1",
  "info": {
    "title": "Connected Admin API",
    "version": "1.0.0",
    "description": "The Admin API allows you to manage your Connected community programmatically."
  },
  "servers": [
    {
      "url": "https://admin-api.connected.dev",
      "description": "Production server"
    },
    {
      "url": "https://admin-api.staging.connected.dev",
      "description": "Staging server"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "The command center for managing client profiles, tracking community data, and monitoring all member interactions"
    },
    {
      "name": "Accounts::Addresses",
      "description": "Store and manage physical addresses associated with accounts for shipping, billing, or location purposes"
    },
    {
      "name": "Accounts::Followers",
      "description": "Track and manage accounts who follow a specific account, enabling social connections and activity feed customization"
    },
    {
      "name": "Accounts::Following",
      "description": "Manage which accounts an account chooses to follow, allowing users to curate their activity feed and stay connected with relevant content"
    },
    {
      "name": "Accounts::Groups",
      "description": "View and manage group memberships for accounts, showing which groups an account belongs to and enabling group-based permissions"
    },
    {
      "name": "Accounts::Interests",
      "description": "Associate hashtag-like interests with accounts to categorize content, enable discovery, and personalize the user experience"
    },
    {
      "name": "Accounts::Invitations",
      "description": "Create an email allowlist that controls who can sign up and join your private community, restricting access to authorized email addresses"
    },
    {
      "name": "Accounts::Leads",
      "description": "Track and manage lead information associated with accounts for sales and marketing purposes"
    },
    {
      "name": "Accounts::Tiers",
      "description": "Associate accounts with membership tiers and segments to grant access to exclusive content, pricing, and features"
    },
    {
      "name": "Activities",
      "description": "Keep your community active with engagement in the Activity Feed"
    },
    {
      "name": "Activities::Schedule",
      "description": "Schedule activities to be published at specific times, allowing for planned content releases and coordinated community engagement"
    },
    {
      "name": "Advertisements",
      "description": "Drive revenue, boost sponsor brand visibility, and engage directly with your community using advertisements"
    },
    {
      "name": "Announcements",
      "description": "Keep your community in the loop with important updates, news, and highlights directly to your audience"
    },
    {
      "name": "Announcements::Schedule",
      "description": "Schedule announcements to go live at the most impactful times, ensuring important messages reach your audience when they're most likely to see them"
    },
    {
      "name": "ApiLogs",
      "description": "Operations for viewing API logs"
    },
    {
      "name": "AuthSessions",
      "description": "Operations for managing authentication sessions"
    },
    {
      "name": "Benefits",
      "description": "Create and manage exclusive offers or discounts provided to accounts in the community"
    },
    {
      "name": "Bookings",
      "description": "Attendees can book specific time-slots for event experiences with bookings"
    },
    {
      "name": "Bookings::Availabilities",
      "description": "Define available time slots for bookable spaces, allowing attendees to reserve specific times for activities like meetings or photo sessions"
    },
    {
      "name": "Bookings::Blackouts",
      "description": "Set blackout periods when bookings are unavailable, preventing reservations during maintenance, holidays, or other restricted times"
    },
    {
      "name": "Bookings::Places",
      "description": "Define top-level venues that contain bookable spaces, such as hotels, conference centers, or virtual platforms, providing context for all reservable areas"
    },
    {
      "name": "Bookings::Spaces",
      "description": "Create specific, individual areas within a larger place that attendees can reserve for time-slots, such as meeting rooms, booths, or photo-op locations"
    },
    {
      "name": "Channels",
      "description": "Channels combines versatile video hosting with written updates to help you effectively reach, inform, and entertain your community"
    },
    {
      "name": "Dashboards",
      "description": "Operations for dashboard data"
    },
    {
      "name": "Dashboards::Widgets",
      "description": "Configure and customize dashboard widgets to display key metrics, KPIs, and visualizations for monitoring community activity and performance"
    },
    {
      "name": "EmailReceipts",
      "description": "Operations for managing email receipts"
    },
    {
      "name": "Events",
      "description": "Organize and manage events effortlessly with seamless registration, detailed scheduling, and real-time updates"
    },
    {
      "name": "Events::Access",
      "description": "Configure access controls for events, determining who can view, register for, or participate in event content and activities"
    },
    {
      "name": "Events::Activations",
      "description": "Manage on-site check-ins, control access activations for special zones or sessions, and set permissions for scanning devices and staff"
    },
    {
      "name": "Events::Addons",
      "description": "Offer supplementary items or services like exclusive workshops, networking upgrades, merchandise, or special amenities that enhance the attendee experience"
    },
    {
      "name": "Events::Attendees",
      "description": "Track accounts that have started or completed registration for an event, monitor registration status, and manage attendee information"
    },
    {
      "name": "Events::Attendees::Packages",
      "description": "View and manage packages purchased by event attendees, tracking bundled pass combinations and package-specific benefits"
    },
    {
      "name": "Events::Attendees::Reservations",
      "description": "Manage lodging and accommodation reservations made by event attendees, including room assignments and reservation details"
    },
    {
      "name": "Events::Benefits",
      "description": "Associate exclusive offers or discounts with events, providing special perks to attendees or members"
    },
    {
      "name": "Events::Blocks",
      "description": "Operations for events::blocks"
    },
    {
      "name": "Events::Bypass",
      "description": "Bypass standard registration requirements to grant direct access to events or passes, useful for comps, sponsors, or special circumstances"
    },
    {
      "name": "Events::Cohosts",
      "description": "Assign co-hosts to events who can help manage and moderate event activities, content, and attendee interactions"
    },
    {
      "name": "Events::Coupons",
      "description": "Create and manage promotional discount codes that attendees can apply at checkout to reduce pass prices and drive registrations"
    },
    {
      "name": "Events::Emails",
      "description": "Send and manage event-related email communications to attendees, including confirmations, updates, and promotional messages"
    },
    {
      "name": "Events::Faqs",
      "description": "Create and manage frequently asked questions for events, providing attendees with answers to common inquiries about registration, logistics, and event details"
    },
    {
      "name": "Events::Followups",
      "description": "Send follow-up communications to event attendees after the event concludes, including surveys, thank you messages, and next steps"
    },
    {
      "name": "Events::Matches",
      "description": "Create customizable pairings to group attendees together for activities like golf foursomes, table assignments, or networking sessions"
    },
    {
      "name": "Events::Media",
      "description": "Upload, organize, and manage media files associated with events, including images, videos, and documents for event pages and content"
    },
    {
      "name": "Events::OnSite",
      "description": "Configure on-site check-in processes, manage access activations, and set scan permissions to ensure smooth and secure attendee access throughout the event"
    },
    {
      "name": "Events::Packages",
      "description": "Create bundled pass offerings that combine multiple pass types into a single purchase, often at a discounted rate, simplifying registration for families or groups"
    },
    {
      "name": "Events::Packages::Passes",
      "description": "Configure which pass types are included in event packages and set quantity limits for each pass type within the package"
    },
    {
      "name": "Events::Pages",
      "description": "Customize event page content, including descriptions, images, FAQs, sponsor information, and other details that appear on the public event page"
    },
    {
      "name": "Events::Passes",
      "description": "Manage individual passes purchased by attendees, tracking pass status, check-ins, and access permissions for event registration"
    },
    {
      "name": "Events::Passtypes",
      "description": "Create and configure pass types with unique names, descriptions, prices, access levels, and rules that define what each pass enables"
    },
    {
      "name": "Events::Passtypes::Priceschedules",
      "description": "Set dynamic pricing that automatically changes on specific dates, allowing for early bird pricing, regular pricing, and late registration fees"
    },
    {
      "name": "Events::Passtypes::Refundschedules",
      "description": "Define refund policies that specify how much money attendees receive if they cancel their pass, based on cancellation timing and pass type"
    },
    {
      "name": "Events::Questions",
      "description": "Create custom registration questions to collect essential attendee information, enabling better event planning and personalized experiences"
    },
    {
      "name": "Events::Rooms",
      "description": "Manage specific room assignments and room numbers for event accommodations, allowing attendees to select or be assigned particular rooms"
    },
    {
      "name": "Events::Roomtypes",
      "description": "Define room categories for event accommodations, such as single, double, or suite, with pricing, capacity, and availability settings"
    },
    {
      "name": "Events::Sections",
      "description": "Organize event content into sections for better navigation and structure, grouping related information or activities together"
    },
    {
      "name": "Events::Sessions",
      "description": "Create, schedule, and configure individual sessions within your event agenda, including details, speakers, locations, and registration requirements"
    },
    {
      "name": "Events::Sessions::Accesses",
      "description": "Control who can access specific sessions, setting restrictions based on pass types, capacity limits, or registration requirements"
    },
    {
      "name": "Events::Sessions::Locations",
      "description": "Define physical venues, rooms, or virtual spaces where sessions occur, providing clear navigational information for attendees"
    },
    {
      "name": "Events::Sessions::Matches",
      "description": "Create matchmaking pairings for session-specific activities, grouping attendees together for networking or collaborative sessions"
    },
    {
      "name": "Events::Sessions::Questions",
      "description": "Add custom questions to session registration, collecting additional information from attendees who register for specific sessions"
    },
    {
      "name": "Events::Sessions::Sections",
      "description": "Organize session content into sections, grouping related sessions or activities for better agenda navigation"
    },
    {
      "name": "Events::Speakers",
      "description": "Create detailed speaker profiles with biographies, photos, company information, and social media links to showcase event presenters"
    },
    {
      "name": "Events::Sponsors",
      "description": "Create and display sponsor profiles on the event page, recognizing supporters with logos, descriptions, and website links"
    },
    {
      "name": "Events::Sponsorshiplevels",
      "description": "Create sponsorship level categories like Platinum, Gold, or Silver to organize sponsors by contribution level and display them accordingly"
    },
    {
      "name": "Events::Sponsorships",
      "description": "Manage sponsorship relationships and benefits, tracking sponsor contributions and associated perks or visibility"
    },
    {
      "name": "Events::Templates",
      "description": "Save event configurations as templates to quickly create new events with similar settings, streamlining event setup and ensuring consistency"
    },
    {
      "name": "Events::Tracks",
      "description": "Categorize sessions into thematic tracks with color coding, helping attendees filter complex schedules and find content aligned with their interests"
    },
    {
      "name": "Files",
      "description": "Operations for managing files"
    },
    {
      "name": "Groups",
      "description": "Create and manage dedicated groups within your community to foster collaboration and connection"
    },
    {
      "name": "Groups::Events",
      "description": "Associate events with groups, allowing group members to discover and register for group-specific events or activities"
    },
    {
      "name": "Groups::Interests",
      "description": "Tag groups with interests to help members discover relevant groups and enable interest-based filtering and recommendations"
    },
    {
      "name": "Groups::Invitations",
      "description": "Send direct invitations to specific users to join private groups, tracking invitation status and proactively growing group membership"
    },
    {
      "name": "Groups::Members",
      "description": "View the complete roster of group members, add or remove members, and adjust roles to maintain a well-organized community"
    },
    {
      "name": "Groups::Moderators",
      "description": "Assign elevated privileges to trusted group members, enabling them to help moderate content, manage members, and maintain community standards"
    },
    {
      "name": "Groups::Requests",
      "description": "Review membership requests for private groups, approving or denying access to ensure appropriate membership and maintain group exclusivity"
    },
    {
      "name": "Groups::Sponsors",
      "description": "Associate sponsors with groups, recognizing supporting organizations or individuals within group contexts"
    },
    {
      "name": "Imports",
      "description": "Operations for data imports"
    },
    {
      "name": "Interests",
      "description": "A community-wide tagging system that acts like hashtags and allows users to share trending topics"
    },
    {
      "name": "Invoices",
      "description": "Streamline your event invoicing and gain complete financial oversight with instant differentiation between paid and outstanding invoices"
    },
    {
      "name": "Invoices::Lineitems",
      "description": "View and manage individual line items on invoices, tracking specific charges, quantities, and prices for detailed financial records"
    },
    {
      "name": "Logins",
      "description": "Operations for managing login records"
    },
    {
      "name": "Logins::Accounts",
      "description": "Link login credentials to accounts, enabling the flexible system where one login can access multiple accounts or one account can be accessed by multiple logins"
    },
    {
      "name": "Meetings",
      "description": "A scalable solution for virtual events, featuring structured sessions, efficient presets, and integrated recordings for lasting engagement"
    },
    {
      "name": "Meetings::Links",
      "description": "Generate and manage meeting links for virtual sessions, providing secure access URLs for participants to join meetings"
    },
    {
      "name": "Meetings::Livestreams",
      "description": "Configure and manage livestream settings for meetings, enabling real-time video broadcasting to larger audiences"
    },
    {
      "name": "Meetings::Participants",
      "description": "Manage meeting participants, including adding attendees, tracking attendance, and controlling participant permissions"
    },
    {
      "name": "Meetings::Presets",
      "description": "Create reusable meeting configuration presets to reduce setup time and ensure consistent settings across similar meeting types"
    },
    {
      "name": "Meetings::Recordings",
      "description": "Access and manage meeting recordings, enabling content curation and sharing value long after meetings conclude"
    },
    {
      "name": "Meetings::Sessions",
      "description": "Structure complex meetings into multiple sessions, organizing content and activities within a single meeting event"
    },
    {
      "name": "Notifications",
      "description": "Operations for managing notifications"
    },
    {
      "name": "Organization",
      "description": "Ensure that your community runs according to your liking by using the Control Center feature for centralized command center adjustments"
    },
    {
      "name": "Organization::Attributes",
      "description": "Create custom account fields with specific rules to capture essential user data beyond default profile fields, building richer profiles and enabling better segmentation"
    },
    {
      "name": "Organization::Domains",
      "description": "Configure allowed email domains for organization accounts, controlling who can register and join the community"
    },
    {
      "name": "Organization::Integrations",
      "description": "Connect third-party software and services to extend platform capabilities, automate workflows, and sync data between systems"
    },
    {
      "name": "Organization::Modules",
      "description": "Enable or disable platform modules and features, customizing which capabilities are available to your organization"
    },
    {
      "name": "Organization::Modules::Custom",
      "description": "Configure custom modules and features specific to your organization's needs and requirements"
    },
    {
      "name": "Organization::Modules::Settings",
      "description": "Operations for organization::modules::settings"
    },
    {
      "name": "Organization::Modules::Tiers",
      "description": "Set tier-based module access, determining which features are available to different membership levels"
    },
    {
      "name": "Organization::Payments",
      "description": "Configure payment integrations and settings, including payment processors, tax handling, and transaction management"
    },
    {
      "name": "Organization::Sideeffects",
      "description": "Configure automated actions that occur when specific events happen, such as granting access or sending notifications based on triggers"
    },
    {
      "name": "Organization::Tax",
      "description": "Set up tax calculation and collection settings, including tax codes, rates, and integration with tax services like Avalara"
    },
    {
      "name": "Organization::Teammembers",
      "description": "Manage team members and administrators for the organization, assigning roles and permissions for platform access"
    },
    {
      "name": "Organization::Users",
      "description": "Manage user accounts and access for the organization, controlling who can use the platform and what permissions they have"
    },
    {
      "name": "Organization::Webhooks",
      "description": "Configure webhook endpoints to receive real-time notifications about platform events, enabling integration with external systems and automation"
    },
    {
      "name": "Payments",
      "description": "View a comprehensive record of all past transactions and payment activities"
    },
    {
      "name": "Preferences",
      "description": "Operations for managing preferences"
    },
    {
      "name": "PushDevices",
      "description": "Operations for managing push notification devices"
    },
    {
      "name": "Reports",
      "description": "Easily review and gain data-driven insights for community management"
    },
    {
      "name": "Reports::Users",
      "description": "Generate detailed reports about user activity, behavior, and engagement to gain insights into community participation and trends"
    },
    {
      "name": "Searchlists",
      "description": "Operations for managing search lists"
    },
    {
      "name": "Searchlists::Values",
      "description": "Manage predefined values for search lists used in registration questions and forms, providing dropdown options and controlled input choices"
    },
    {
      "name": "Self",
      "description": "Operations for the authenticated user"
    },
    {
      "name": "Self::Apikeys",
      "description": "Generate and manage API keys for the authenticated user, enabling programmatic access to platform features and data"
    },
    {
      "name": "Self::Images",
      "description": "Upload and manage profile images and photos for the authenticated user's account"
    },
    {
      "name": "Series",
      "description": "Operations for managing event series"
    },
    {
      "name": "Series::Registrations",
      "description": "Manage account registrations for event series"
    },
    {
      "name": "Sponsors",
      "description": "Operations for managing sponsorship levels"
    },
    {
      "name": "Sponsors::Accounts",
      "description": "Associate accounts with membership levels to grant tier-based access, pricing, and benefits based on membership status"
    },
    {
      "name": "Storage::Files",
      "description": "Operations for storage::files"
    },
    {
      "name": "Storage::Images",
      "description": "Operations for storage::images"
    },
    {
      "name": "Storage::Videos",
      "description": "Operations for storage::videos"
    },
    {
      "name": "Storage::Videos::Captions",
      "description": "Operations for storage::videos::captions"
    },
    {
      "name": "Streams",
      "description": "Operations for managing streams"
    },
    {
      "name": "Streams::Outputs",
      "description": "Configure stream output destinations and settings, controlling where and how video streams are broadcast or recorded"
    },
    {
      "name": "Streams::Sessions",
      "description": "Manage streaming sessions, including starting, stopping, and monitoring live video streams for events or content delivery"
    },
    {
      "name": "Support",
      "description": "Monitor and support areas within the community that require attention to ensure consistent care and engagement"
    },
    {
      "name": "Support::Messages",
      "description": "Send and receive support messages with users, enabling direct communication to resolve issues and provide assistance"
    },
    {
      "name": "Support::Notes",
      "description": "Add internal notes to support tickets for team collaboration, tracking resolution steps, and maintaining support history"
    },
    {
      "name": "Surveys",
      "description": "Easily gather insights and feedback by using surveys"
    },
    {
      "name": "Surveys::Questions",
      "description": "Create and configure survey questions to gather feedback, opinions, and insights from your community"
    },
    {
      "name": "Surveys::Sections",
      "description": "Organize survey questions into logical sections, improving survey structure and user experience"
    },
    {
      "name": "Surveys::Submissions",
      "description": "View and analyze survey responses submitted by participants, extracting insights and feedback data"
    },
    {
      "name": "Threads",
      "description": "A collection of messages around a specific topic for seamless, real-time collaboration"
    },
    {
      "name": "Threads::Circles",
      "description": "Create circles that bring together sets of accounts around specific goals, teams, or purposes, enabling focused group communication"
    },
    {
      "name": "Threads::Circles::Accounts",
      "description": "Manage which accounts belong to thread circles, adding or removing members to control circle membership and access"
    },
    {
      "name": "Threads::Members",
      "description": "Manage thread membership, controlling who can participate in specific thread conversations"
    },
    {
      "name": "Threads::Messages",
      "description": "Send and manage messages within threads, enabling real-time collaboration and discussion around specific topics"
    },
    {
      "name": "Threads::Messages::Files",
      "description": "Attach and manage files within thread messages, sharing documents and resources in conversation context"
    },
    {
      "name": "Threads::Messages::Images",
      "description": "Attach and manage images within thread messages, enabling visual communication and content sharing"
    },
    {
      "name": "Threads::Messages::Reactions",
      "description": "Add reactions to thread messages, enabling quick feedback and engagement without requiring full replies"
    },
    {
      "name": "Threads::Messages::Videos",
      "description": "Attach and manage videos within thread messages, sharing video content in conversation threads"
    },
    {
      "name": "Tiers",
      "description": "Operations for managing membership tiers"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "GetAccounts",
        "summary": "Get Accounts",
        "description": "Get Accounts endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "verified",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by verified",
            "required": false
          },
          {
            "in": "query",
            "name": "online",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by online",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "operationId": "CreateAccount",
        "summary": "Create Account",
        "description": "Create Account endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/invitations": {
      "get": {
        "operationId": "GetAccountInvitations",
        "summary": "Get Account Invitations",
        "description": "Get Account Invitations endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Invitations"
        ]
      },
      "post": {
        "operationId": "CreateAccountInvitations",
        "summary": "Create Account Invitations",
        "description": "Create Account Invitations endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Invitations"
        ]
      }
    },
    "/accounts/invitations/{email}": {
      "delete": {
        "operationId": "DeleteAccountInvitation",
        "summary": "Delete Account Invitation",
        "description": "Delete Account Invitation endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "The email identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Invitations"
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "GetAccount",
        "summary": "Get Account",
        "description": "Get Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      },
      "put": {
        "operationId": "UpdateAccount",
        "summary": "Update Account",
        "description": "Update Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      },
      "delete": {
        "operationId": "DeleteAccount",
        "summary": "Delete Account",
        "description": "Delete Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/activities": {
      "get": {
        "operationId": "GetAccountActivities",
        "summary": "Get Account Activities",
        "description": "Get Account Activities endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/ActivityStatus"
            },
            "description": "Filter by status",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/addresses": {
      "get": {
        "operationId": "GetAccountAddresses",
        "summary": "Get Account Addresses",
        "description": "Get Account Addresses endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Addresses"
        ]
      },
      "post": {
        "operationId": "CreateAccountAddress",
        "summary": "Create Account Address",
        "description": "Create Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Addresses"
        ]
      }
    },
    "/accounts/{accountId}/addresses/{addressId}": {
      "get": {
        "operationId": "GetAccountAddress",
        "summary": "Get Account Address",
        "description": "Get Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountAddress"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Addresses"
        ]
      },
      "put": {
        "operationId": "UpdateAccountAddress",
        "summary": "Update Account Address",
        "description": "Update Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Addresses"
        ]
      },
      "delete": {
        "operationId": "DeleteAccountAddress",
        "summary": "Delete Account Address",
        "description": "Delete Account Address endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The address identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Addresses"
        ]
      }
    },
    "/accounts/{accountId}/comments": {
      "get": {
        "operationId": "GetAccountComments",
        "summary": "Get Account Comments",
        "description": "Get Account Comments endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/email-receipts": {
      "get": {
        "operationId": "GetAcccountEmailReceipts",
        "summary": "Get Acccount Email Receipts",
        "description": "Get Acccount Email Receipts endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/EmailReceiptStatus"
            },
            "description": "Filter by status",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "object"
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/events": {
      "get": {
        "operationId": "GetAccountEvents",
        "summary": "Get Account Events",
        "description": "Get Account Events endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "past",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by past",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/export": {
      "post": {
        "operationId": "ExportAccount",
        "summary": "Export Account",
        "description": "Export Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/followers": {
      "get": {
        "operationId": "GetAccountFollowers",
        "summary": "Get Account Followers",
        "description": "Get Account Followers endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Followers"
        ]
      }
    },
    "/accounts/{accountId}/followers/{followerId}": {
      "post": {
        "operationId": "AddAccountFollower",
        "summary": "Add Account Follower",
        "description": "Add Account Follower endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The follower identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Followers"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountFollower",
        "summary": "Remove Account Follower",
        "description": "Remove Account Follower endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The follower identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Followers"
        ]
      }
    },
    "/accounts/{accountId}/following": {
      "get": {
        "operationId": "GetAccountFollowing",
        "summary": "Get Account Following",
        "description": "Get Account Following endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Following"
        ]
      }
    },
    "/accounts/{accountId}/following/{followingId}": {
      "post": {
        "operationId": "AddAccountFollowing",
        "summary": "Add Account Following",
        "description": "Add Account Following endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The following identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Following"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountFollowing",
        "summary": "Remove Account Following",
        "description": "Remove Account Following endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The following identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Following"
        ]
      }
    },
    "/accounts/{accountId}/groups": {
      "get": {
        "operationId": "GetAccountGroups",
        "summary": "Get Account Groups",
        "description": "Get Account Groups endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GroupMembership"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Groups"
        ]
      }
    },
    "/accounts/{accountId}/groups/{groupId}": {
      "post": {
        "operationId": "AddAccountGroup",
        "summary": "Add Account Group",
        "description": "Add Account Group endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The group identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupMembership"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Groups"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountGroup",
        "summary": "Remove Account Group",
        "description": "Remove Account Group endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The group identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Groups"
        ]
      }
    },
    "/accounts/{accountId}/impersonate/{username}": {
      "post": {
        "operationId": "ImpersonateAccount",
        "summary": "Impersonate Account",
        "description": "Impersonate Account endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "description": "The username identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{accountId}/interests": {
      "get": {
        "operationId": "GetAccountInterests",
        "summary": "Get Account Interests",
        "description": "Get Account Interests endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interest"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Interests"
        ]
      }
    },
    "/accounts/{accountId}/interests/{interestId}": {
      "post": {
        "operationId": "AddAccountInterest",
        "summary": "Add Account Interest",
        "description": "Add Account Interest endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The interest identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Interests"
        ]
      },
      "delete": {
        "operationId": "RemoveAccountInterest",
        "summary": "Remove Account Interest",
        "description": "Remove Account Interest endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The interest identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Interests"
        ]
      }
    },
    "/accounts/{accountId}/leads": {
      "get": {
        "operationId": "GetAccountLeads",
        "summary": "Get Account Leads",
        "description": "Get Account Leads endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/LeadStatus"
            },
            "description": "Filter by status",
            "required": false
          },
          {
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by eventId",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Leads"
        ]
      }
    },
    "/accounts/{accountId}/leads/{leadId}": {
      "get": {
        "operationId": "GetAccountLead",
        "summary": "Get Account Lead",
        "description": "Get Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Leads"
        ]
      },
      "put": {
        "operationId": "UpdateAccountLead",
        "summary": "Update Account Lead",
        "description": "Update Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Leads"
        ]
      },
      "delete": {
        "operationId": "DeleteAccountLead",
        "summary": "Delete Account Lead",
        "description": "Delete Account Lead endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The lead identifier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Leads"
        ]
      }
    },
    "/accounts/{accountId}/levels": {
      "get": {
        "operationId": "GetAccountLevels",
        "summary": "Get Account Levels",
        "description": "Get Account Levels endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The account identifier",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number",
            "required": false
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page",
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Level"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Accounts::Tiers"
        ]
[...]
