{
  "openapi": "3.0.0",
  "info": {
    "title": "Connected Admin API",
    "version": "1.0.0",
    "description": "The Admin SDK API section provides an auto-generated OpenAPI spec based on TypeScript queries. Users can utilize this section to access detailed information about the Admin SDK API, enabling them to effectively integrate and utilize the SDK within their projects"
  },
  "servers": [
    {
      "url": "https://admin-api.connected.dev",
      "description": "Production server"
    },
    {
      "url": "https://admin-api.staging.connected.dev",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/accounts/{accountId}/delegates/{delegateId}": {
      "post": {
        "summary": "AddAccountDelegate",
        "description": "Endpoint to add a delegate to an account. This function allows the addition of a delegate to a specified account by providing the account and delegate IDs. It is used in scenarios where account management requires delegation capabilities.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "delegateId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the delegate",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountDelegate",
        "description": "Endpoint to remove a delegate from an account. This function allows the removal of a delegate associated with a specific account by their unique identifiers. It is designed to be used in applications where account management and delegate permissions are required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "delegateId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the delegate",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followers/{followerId}": {
      "post": {
        "summary": "AddAccountFollower",
        "description": "Adds a follower to a specified account. This function allows the addition of a follower to an account by specifying the account and follower IDs. It is used in scenarios where account follower management is required, ensuring that the follower is added to the account's follower list.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the follower",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountFollower",
        "description": "Endpoint to remove a follower from a specified account. This function allows the removal of a follower from an account by specifying the account ID and the follower ID. It is designed to be used in applications where managing account followers is necessary.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "followerId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the follower to be removed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/following/{followingId}": {
      "post": {
        "summary": "AddAccountFollowing",
        "description": "Endpoint to add a following relationship for a specified account. This function allows an account to follow another account by specifying the account IDs. It updates the account's following list and invalidates the relevant queries to ensure data consistency.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account to follow",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountFollowing",
        "description": "Endpoint to remove a following relationship for a specified account. This function allows the removal of a following relationship between two accounts by specifying their IDs. It is used in scenarios where an account needs to unfollow another account.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "followingId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the following account",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/groups/{groupId}": {
      "post": {
        "summary": "AddAccountGroup",
        "description": "Endpoint to add a group to an account and invalidate related queries. This function allows the addition of a specified group to a given account, ensuring that any related cached queries are invalidated to maintain data consistency. It is designed for use in applications where account group management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the group",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupMembership"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountGroup",
        "description": "Endpoint to remove a group from an account. This function allows the removal of a specified group from a given account by utilizing the account and group identifiers. It is designed to be used in scenarios where account group management is required, ensuring that the specified group is detached from the account.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the group",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/interests/{interestId}": {
      "post": {
        "summary": "AddAccountInterest",
        "description": "Endpoint to add an interest to a specific account. This function allows the addition of a new interest to an account by specifying the account ID and the interest ID. It is designed to update the account's interests and ensure the query data is refreshed accordingly.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the interest",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountInterest",
        "description": "Endpoint to remove an interest from a specified account. This function allows the removal of a specific interest from an account by providing the account ID and the interest ID. It is used in scenarios where account interests need to be dynamically managed and updated.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the interest to be removed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/tiers/{tierId}": {
      "post": {
        "summary": "AddAccountTier",
        "description": "Endpoint to add a tier to a specified account and update the query client. This function allows the addition of a specific tier to an account, ensuring that the query client is updated accordingly. It is designed for use in applications where account tier management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "tierId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the tier",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveAccountTier",
        "description": "Endpoint to remove a tier from a specified account. This function allows the removal of a specific tier from an account by providing the account ID and the tier ID. It is used in scenarios where account tier management is required, ensuring that the specified tier is detached from the account.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "tierId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the tier to be removed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/cognito/{username}/confirm": {
      "put": {
        "summary": "ConfirmAccountCognitoUser",
        "description": "Endpoint to confirm a Cognito user account associated with a specific account ID and username. This function is used to confirm the status of a Cognito user within an account, ensuring that the user is recognized and validated by the system. It is particularly useful in scenarios where user confirmation is required for account activation or access.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "description": "The username of the Cognito user",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "summary": "CreateAccount",
        "description": "Endpoint to create a new account within the system. This function allows for the creation of a new account by providing the necessary account details. It is designed to be used in applications where account management is required.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAccounts",
        "description": "Endpoint to retrieve a list of accounts with optional filtering by account type. This function allows users to fetch a paginated list of accounts, which can be filtered by account type if specified. It is designed to be used in applications where account management and retrieval are necessary.",
        "parameters": [
          {
            "in": "query",
            "name": "accountType",
            "schema": {
              "type": "string"
            },
            "description": "Optional account type",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            },
            "description": "Page number",
            "required": true
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 25
            },
            "description": "Number of items per page",
            "required": true
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/addresses": {
      "post": {
        "summary": "CreateAccountAddress",
        "description": "Endpoint to create a new account address and invalidate related queries. This function allows the creation of a new address for a specified account and ensures that any related cached queries are invalidated to maintain data consistency. It is designed for use in applications where account address management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountAddress"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAccountAddresses",
        "description": "Endpoint to fetch a list of account addresses with support for pagination and filtering. This function allows retrieval of addresses associated with a specific account, providing options for pagination and filtering. It is designed to be used in applications where account address information is needed.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            },
            "description": "Page number",
            "required": true
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 25
            },
            "description": "Number of items per page",
            "required": true
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountAddress"
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "delete": {
        "summary": "DeleteAccount",
        "description": "Endpoint to delete a specific account by its unique identifier. This function allows for the removal of an account from the system, ensuring that all associated queries are invalidated. It is designed to be used in applications where account management and cleanup are necessary.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAccount",
        "description": "Endpoint to update an existing account with new details. This function allows for updating the details of a specific account identified by its ID. It is designed to be used in applications where account information needs to be modified.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAccount",
        "description": "Fetches account details by a specific account ID. This function is designed to retrieve detailed information about an account using its unique identifier. It is intended for use in applications where account-specific data is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the account",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/addresses/{addressId}": {
      "delete": {
        "summary": "DeleteAccountAddress",
        "description": "Endpoint to delete a specific address associated with an account. This function allows for the removal of an address from an account by specifying the account and address IDs. It is intended for use in applications where account address management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the address",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAccountAddress",
        "description": "Endpoint to update the address of a specified account. This function allows updating the address details of a specific account by providing the account ID and address ID. It is designed to be used in applications where account address management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the address",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAddressUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountAddress"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAccountAddress",
        "description": "Retrieves a specific account address using the account ID and address ID. This function is designed to fetch detailed information about an account's address, which can be used in applications requiring precise address data for a given account.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "addressId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the address",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountAddress"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/leads/{leadId}": {
      "delete": {
        "summary": "DeleteAccountLead",
        "description": "Endpoint to delete a lead associated with a specific account. This function allows the removal of a lead from an account by specifying the account and lead identifiers. It is intended for use in scenarios where account management requires the deletion of associated leads.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the lead",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAccountLead",
        "description": "Endpoint to update a lead associated with a specific account. This function allows updating the details of a lead linked to a particular account using the provided account and lead identifiers. It is designed to be used in applications where lead information needs to be modified.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the lead",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAccountLead",
        "description": "Endpoint to fetch a specific lead from an account. This function retrieves detailed information about a lead associated with a particular account. It is designed for applications that require access to specific lead data within an account.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "leadId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the lead",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/export": {
      "post": {
        "summary": "ExportAccount",
        "description": "Endpoint to export data for a specific account. This function allows users to export detailed information about an account using the provided account ID. It is designed to be used in applications where exporting account data is necessary.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/impersonate/{username}": {
      "post": {
        "summary": "ImpersonateAccount",
        "description": "Endpoint to impersonate a user account by providing the account ID and username. This function allows an admin to act on behalf of a user by impersonating their account, which can be useful for troubleshooting or managing user-specific settings.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the account to impersonate",
            "required": true
          },
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "description": "The username associated with the account",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/cognito/{username}/password": {
      "put": {
        "summary": "UpdateAccountCognitoUserPassword",
        "description": "Endpoint to update the password for a Cognito user associated with an account. This function allows updating the password of a Cognito user linked to a specific account. It is intended for use in scenarios where password management for Cognito users is required.",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": true
          },
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "description": "The username of the Cognito user",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}/interests/{interestId}": {
      "post": {
        "summary": "AddActivityInterest",
        "description": "Adds an interest to a specific activity and updates the query client. This function allows users to associate an interest with a given activity, ensuring that the query client is updated to reflect this change. It is useful in scenarios where activities need to be dynamically linked with interests.",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the activity",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the interest",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "RemoveActivityInterest",
        "description": "Endpoint to remove an interest from a specific activity. This function allows the removal of a specified interest from an activity by providing the activity and interest IDs. It is designed to be used in applications where managing activity interests is required.",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the activity",
            "required": true
          },
          {
            "in": "path",
            "name": "interestId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the interest",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}": {
      "delete": {
        "summary": "DeleteActivity",
        "description": "Endpoint to delete a specific activity by its ID. This function allows for the removal of an activity from the system, ensuring that all related queries are invalidated or removed. It is designed to be used in applications where activity management is required, providing a way to maintain up-to-date data.",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the activity to be deleted",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateActivity",
        "description": "Endpoint to update an existing activity with new data. This function allows users to modify the details of a specific activity by providing the activity ID and the updated data. It ensures that the activity information is current and accurate within the system.",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the activity to update",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetActivity",
        "description": "Fetches details for a specific activity by its ID. This function utilizes a connected single query to retrieve data about an activity within the system. It is designed to be used in applications where detailed information about an activity is required.",
        "parameters": [
          {
            "in": "path",
            "name": "activityId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the activity",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/advertisements": {
      "post": {
        "summary": "CreateAdvertisement",
        "description": "Endpoint to create a new advertisement. This function allows the creation of a new advertisement by sending the advertisement data to the server. It is designed to be used in applications where advertisements need to be dynamically created and managed.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisementCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAdvertisements",
        "description": "Endpoint to retrieve a list of advertisements. This function fetches advertisements with optional filtering by search term. It is designed to be used in applications where a list of advertisements is required.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            },
            "description": "Page number",
            "required": true
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 25
            },
            "description": "Number of items per page",
            "required": true
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Advertisement"
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/advertisements/{advertisementId}": {
      "delete": {
        "summary": "DeleteAdvertisement",
        "description": "Endpoint to delete a specific advertisement by its ID. This function allows for the removal of an advertisement from the system, ensuring that it is no longer accessible or visible. It is designed to be used in applications where advertisement management is required, providing a mechanism to delete advertisements.",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the advertisement to delete",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAdvertisement",
        "description": "Endpoint to update an existing advertisement with new details. This function allows users to modify the details of an advertisement by providing the advertisement ID and the updated inputs. It ensures that the advertisement data is updated in the system and invalidates the relevant queries to refresh the data.",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the advertisement",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisementUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAdvertisement",
        "description": "Fetches advertisement data by its unique identifier. This function is designed to retrieve detailed information about a specific advertisement. It is intended for use in applications where advertisement data is required.",
        "parameters": [
          {
            "in": "path",
            "name": "advertisementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the advertisement",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Advertisement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/announcements/{announcementId}/schedule": {
      "delete": {
        "summary": "CancelAnnouncementSchedule",
        "description": "Endpoint to cancel a scheduled announcement. This function allows users to cancel a previously scheduled announcement by providing the announcement ID. It is useful in scenarios where an announcement needs to be retracted or rescheduled.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the announcement to cancel",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAnnouncementSchedule",
        "description": "Endpoint to update the schedule for a specific announcement. This function allows updating the schedule details of an announcement, including the date and optional notification settings. It is designed to be used in applications where managing announcement schedules is required.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the announcement",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnouncementSchedule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/announcements": {
      "post": {
        "summary": "CreateAnnouncement",
        "description": "Endpoint to create a new announcement within the system. This function allows users to submit details for a new announcement, which will be processed and stored. It is designed to be used in applications where announcements need to be dynamically created and managed.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnouncementCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAnnouncements",
        "description": "Endpoint to manage and fetch announcements. This function provides the ability to retrieve announcements based on various optional filters such as event, group, tier, channel, and account. It is designed to be used in applications where announcements need to be dynamically fetched and managed.",
        "parameters": [
          {
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the event",
            "required": false
          },
          {
            "in": "query",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the group",
            "required": false
          },
          {
            "in": "query",
            "name": "tierId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the tier",
            "required": false
          },
          {
            "in": "query",
            "name": "channelId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the channel",
            "required": false
          },
          {
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the account",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            },
            "description": "Page number",
            "required": true
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 25
            },
            "description": "Number of items per page",
            "required": true
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Announcement"
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/announcements/{announcementId}": {
      "delete": {
        "summary": "DeleteAnnouncement",
        "description": "Endpoint to delete a specific announcement by its ID. This function allows for the removal of an announcement from the system, ensuring that it is no longer accessible. It is designed to be used in administrative contexts where managing announcements is required.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the announcement to be deleted",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateAnnouncement",
        "description": "Endpoint to update an existing announcement. This function allows users to modify the details of a specific announcement by providing the announcement ID and the updated inputs. It ensures that the announcement data is updated in the system and the relevant queries are invalidated to reflect the changes.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the announcement",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnouncementUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetAnnouncement",
        "description": "Fetches a specific announcement by its ID. This function is designed to retrieve detailed information about a particular announcement within the system. It is useful for applications that need to display or process information about a single announcement.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the announcement",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/announcements/{announcementId}/preview": {
      "post": {
        "summary": "SendAnnouncementPreview",
        "description": "Endpoint to send a preview of an announcement. This function triggers the sending of a preview for a specific announcement, identified by its ID. It is designed to be used in applications where previewing announcements before sending is required.",
        "parameters": [
          {
            "in": "path",
            "name": "announcementId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the announcement to preview",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/benefits": {
      "post": {
        "summary": "CreateBenefit",
        "description": "Endpoint to create a new benefit within the system. This function allows the creation of a benefit by providing the necessary input parameters. It interacts with the admin API to post the benefit data and updates the query cache upon successful creation.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenefitCreateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetBenefits",
        "description": "Retrieves a list of benefits, optionally filtered by a specific event ID. This function is designed to be used in applications where a comprehensive list of benefits is required, with the ability to filter results based on an event. It supports infinite scrolling through pagination.",
        "parameters": [
          {
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the event to filter benefits",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            },
            "description": "Page number",
            "required": true
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 25
            },
            "description": "Number of items per page",
            "required": true
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            },
            "description": "Field to order by",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Benefit"
                      }
                    },
                    "count": {
                      "type": "number",
                      "example": 100
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/benefits/{benefitId}": {
      "delete": {
        "summary": "DeleteBenefit",
        "description": "Endpoint to delete a specific benefit by its ID. This function allows the removal of a benefit from the system, ensuring that all related queries are invalidated and removed. It is designed for use in administrative applications where benefit management is required.",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benefit to be deleted",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "UpdateBenefit",
        "description": "Endpoint to update the details of a specific benefit. This function allows for updating the information of a benefit by providing the benefit ID and the new details. It is used in scenarios where benefit information needs to be modified.",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the benefit",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenefitTranslationUpdateInputs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "GetBenefit",
        "description": "Endpoint to fetch details of a specific benefit by its ID. This function allows users to retrieve comprehensive information about a particular benefit. It is designed for applications that require detailed data on benefits for display or processing.",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benefit",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/Benefit"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/subscribers": {
      "post": {
        "summary": "AddChannelSubscriber",
        "description": "Adds a subscriber to a specified channel and invalidates the relevant query cache. This function is used to associate an account with a channel as a subscriber, ensuring that the channel's subscriber list is updated. It is particularly useful in applications where real-time updates to channel subscriptions are necessary.",
        "parameters": [
          {
            "in": "path",
            "name": "channelId",
            "schema": {
              "type": "string"
            },
            "description": "The id of the channel",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "accountId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Success message."
                    },
                    "data": {
                      "$ref": "#/components/schemas/BaseChannelSubscriber"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
[...]
